.SubmitButton {
  position: relative;
  display: flex;
}

.button {
  color: white;
  background-color: rgb(32, 191, 85);
  border-radius: 10px;
  padding: 5px 10px;
  height: 30px;
  transition: all 0.2s linear;

  &:hover {
    cursor: pointer;
    text-shadow: white 1px 0 10px;
  }
}

.savedSuccess {
  display: flex;
  align-items: center;
  position: relative;
  color: rgb(32, 191, 85);
  margin-left: 10px;

  img {
    margin: 0 5px;
    transform: translateX(25%);
  }
}

.savedError {
  color: var(--error-color);
  margin: 5px 10px;
}
